.titleRegister {
  font-size: 21rem;
}

.inputReg {
  font-size: 14rem;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16rem;
}

.btnReg {
  font-size: 14rem;
}

.errorText {
  font-size: 14rem;
  color: red;
}
